body {
    background-color: black;
    color: whitesmoke;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    min-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

header,
footer {
    background-color: #B12C00;
    width: 100%;
    text-align: center;
}

input,
select {
    height: 2.5rem;
    font-size: larger;
    background-color: rgb(251, 251, 144);
    height: 100%;
    border: 0;
}

input:hover,
select:hover {
    background-color: rgb(250, 250, 97);
}

option {
    background-color: rgb(230, 230, 180);
}

a{
    color:yellow;
    text-decoration: none;
    padding:0.5rem;    
}
a:hover{
    color:rgb(162, 255, 0);
    background-color: #212121eb;
    text-decoration:underline;
}

select {
    text-align: center;
}

label {
    font-size: larger;
    font-weight: bolder;
    height: 100%;
    color: rgb(255, 166, 0);
    background-color: #212121;
}

input[type="submit"] {
    background-color: skyblue;
    padding: 1.5rem;
    grid-area: 4 / 1 / 5 / 3;
}

input[type="submit"]:hover {
    background-color: lightblue;
}

input[type="submit"]:active {
    background-color: rgb(64, 177, 248);
}


.hidden {
    display: none;
}

.result-h2 {
    color: yellowgreen;
}


#container {
    height: 100%;
    width: 80%;
    text-align: center;
    border-radius: 2%;
    padding: 1rem;
    background-color: rgb(212, 123, 123);
}

#container>h1 {
    color: yellowgreen;
    background-color: rgb(0, 66, 9);
}

#container>h1:hover {
    color: rgb(0, 66, 9);
    background-color: yellowgreen;
}

#calculator {
    padding: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

#cur-year{
    font-size: smaller;
}

#result-1 {
    color: rgb(255, 166, 0);
}

#result-2 {
    color: #08022e;
    background-color: #9500ff;
    padding: 0.4rem;
}

#result-2:hover {
    color: #9500ff;
    background-color: #08022e;
}

@media(min-width:768px){
    #container{
        width:70%;
    }
}
@media(min-width:1024px){
    #container{
        width:60%;
    }
}